.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

body{
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-bg{
  background-image: url("./jetski2.jpg");
  background-position: center;
  min-height: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-bg{
  background: RGBA(150,190,255,.8);
  padding: 2vh;
  margin-top: 3vh;
  margin-bottom: 3vh;
  color: firebrick;
}

.App-header {
  background-color: #282c34;
  background-image: url("./jetski1.jpg");
  background-position: center;
  background-size: cover;
  padding: 50px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.content-wrapper-double{
  background: RGBA(150,190,255,.8);
  font-size: 3vmax;
  padding: 2vw;
  min-width:300px;
  width:40vw;
  border-radius:10px;
  margin:1vw;
  z-index:1;


}

.content-wrapper-single{
  background: RGBA(150,190,255,.8);
  font-size: 2vmax;
  padding: 2vw;
  align-self: center;
  display: flex;
  justify-content: center;
  min-width:300px;
  width:86vw;
  border-radius:10px;
  margin:1vw;


}

table{
  font-weight: bold;
}

  @media (max-width: 768px) {
    .content-wrapper-single {
      width: 80vw;
    }
  }
.App-link {
  color: #61dafb;
}


